AUTH_SECRET= # Added by `npx auth`. Read more: https://cli.authjs.dev
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
DATABASE_URL=
NEXT_PUBLIC_GANAI_BACKEND_URL=
NEXT_PUBLIC_GANAI_API_KEY=
NEXT_PUBLIC_CLOUDINARY_URL=cloudinary://
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
GANAI_API_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
GROQ_API_KEY=
AUTH_TRUST_HOST=true
AUTH_URL=http://localhost:3000/api/auth
EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT="587"
EMAIL_SECURE="true"
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=

NEXT_PUBLIC_APP_URL = "http://localhost:3000"

